/* type selectors */
html {
	background-color: #696969;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
	width: 960px;
	background-color: white;
	margin: 15px auto;
	padding: 0;
	border: 1px solid black;
}
section, article, aside, h1, h2, h3, p, ul {
	margin: 0;
	padding: 0;
}
section {
	margin-top: 1.5em;
	margin-bottom: 1em;	
}

a { font-weight: bold; }
a:link { color: #800000; }
a:visited { color: navy; }
a:hover, a:focus { color: blue; }

p { padding-bottom: 0.5em; }
	
em { font-weight: bold; }

/* the styles for the header */
header {
	background-color: #800000;
	background-image: -webkit-linear-gradient(right, #800000 0%, white 30%, #800000 100%);
	background-image: -moz-linear-gradient(right, #800000 0%, white 30%, #800000 100%);
	background-image: -o-linear-gradient(right, #800000 0%, white 30%, #800000 100%);
	background-image: linear-gradient(right, #800000 0%, white 30%, #800000 100%);
	padding-bottom: 1em;
}
@font-face {
	font-family: Italy;
    src: url("FRSCRIPT.TTF");
}
header h2 {
	font-family: Italy, cursive;
	font-size: 350%;
	font-weight: bold;
    color: white;
    text-shadow: 2px 3px 0 black;
    padding-top: .25em;
    margin-left: 25px;
}
header h3 {
	font-family: "Times New Roman", Times, serif;
	font-size: 150%;
	margin-left: 125px;
}
	
/* the styles for the navigation menu */
#nav_menu ul {
	list-style: none;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 190px;
	padding: 1em 0;
    text-decoration: none;
    background-color: black;	
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}
#nav_menu ul li a.lastitem {
 	border-right: none;
 	width: 192px;
}
#nav_menu a.current {
	color: gray;
}

/* the styles for the section */
section {
	width: 645px;
	padding-left: 20px;
	padding-right: 20px;
	float: right;
}
section h1 {
	font-size: 200%;
	margin-bottom: 0.5em; 
	color: #800000;
}
article {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;	
}
article p {
	margin-bottom: .75em;
}
figure {
    margin-right: 15px;
    margin-left: 0; 
    margin-top: 0;
}
figcaption {
    display: block;
    font-weight: bold;
    padding-top: .25em;
    margin-bottom: .6em;
    border-bottom: 1px solid black;
}

/* the styles for the sidebar */
aside {
	width: 250px;
	float: left;
	padding-left: 25px;
}
aside h2 {
	font-size: 125%;
	color: #696969;
	margin-top: 1.7em;
	padding-bottom: .5em;
}
aside ul {
	list-style: none;
}
aside li {
	margin-bottom: .5em;
}

aside img {
	border: 1px solid #696969;
}
aside .site {
	margin-left: 10px;
}

/* the styles for the footer */
footer {
	clear: both;
	padding-top: 1em;
	background-color: #800000;
	background-image: -webkit-linear-gradient(right, #800000 0%, white 30%, #800000 100%);
	background-image: -moz-linear-gradient(right, #800000 0%, white 30%, #800000 100%);
	background-image: -o-linear-gradient(right, #800000 0%, white 30%, #800000 100%);
	background-image: linear-gradient(right, #800000 0%, white 30%, #800000 100%);
}
footer p {
	font-size: 80%;
	color: white;
	margin-left: 25px;
	padding-bottom: 1em;
}